
.financeDashboardContainer {
    padding: 1.5rem 0;
    /* You might adjust max-width here if you want it wider than the contentWrapper allows */
}

.dashboardHeader {
    margin-bottom: 2rem;
    padding: 0 2.5rem; /* Add padding to align with other components' content */
}

.mainTitle {
    font-size: 4.2rem;
    font-weight: 200;
    font-family: 'Bebas Neue';
    color: rgb(247, 91, 7);
    margin: 0;
    background: linear-gradient(135deg, #0f172a 0%, #334155 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 5px 0 0 0;
}

/* Sections for separation */
.analyticsSection {
    margin-bottom: 2rem;
}


.formSection{
    margin-bottom: 2rem;

}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
    .mainTitle {
        background: linear-gradient(135deg, #f1f5f9 0%, #cbd5e1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .subtitle {
        color: #94a3b8;
    }
}