

/* src/App.css */
@font-face {
  font-family: 'BebasNeue'; /* Choose a unique name */
  src: url('./assets/fonts/BEBASNEUE-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  /* Add separate @font-face blocks for Bold, Italic, etc. */
}

@font-face {
  font-family: 'Heading';
  src: url('./assets/fonts/HEADINGNOWTRIAL-65MEDIUM.TTF') format('truetype');
  font-weight: 350;
  font-style: normal;
}

.cardContainer{
  background-color: white;
  height: 250px;
  width: 400px;
  box-shadow:5px 5px 5px rgba(5, 5, 5, 0.068);
  margin: 10px;
  padding:15px;
}
.upperContainer{
  height :30px;
  width: 400px;
  justify-content: space-between;
  display: flex;
}

.upperContainer h2{
  font-size: 12px;
  padding: 2px;
  color: black;

}

.upperContainer h1{
  font-size: 21px;
  padding: 2px;
  color: black;
  font-weight: bold;

}
.image
{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateZ(0);
  flex-wrap: wrap;
}
.previewContainer{
  background-color: rgba(128, 22, 22, 0.348);
  height: 150px;
  border-radius: 2%;
  margin-top: 0px;
  transition: transform 0.4s ease; /* Increased duration, smoother timing */
  will-change: transform; /* Optimize for transform animations */
  transform: translateZ(0);
}
.bottomContainer{
  margin-top: 0.5rem;
  text-align: left;
}

.bottomContainer h2 {
 color: black;
 font-size: 12px;
}


p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: wh;
}

.cardContainer:hover .previewContainer {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button{
  display: inline-block;
  background-color: red;
  border-color: black;
  padding: 10px 20px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.068);
  cursor: pointer;
}

/* Prevent horizontal overflow globally */
html, body {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
     background-color: rgb(101, 7, 7);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* If you're using a root div */
#root {
    width: 100%;
    overflow-x: hidden;
}